{\rtf1\ansi\ansicpg1252\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;\f1\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0\cname textColor;\cssrgb\c0\c0\c0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs24 \cf2 De: Paula <paulafguedes@yahoo.com.br>\
Assunto: 2\
Data: 5 de julho de 2025 \'e0s 22:53:37 BRT\
Para: Paula <paulafguedes@yahoo.com.br>\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f1 \cf2 \
\pard\pardeftab720\partightenfactor0
\cf3 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec3 \
body \{\
\'a0 font-family: Arial, sans-serif;\
\'a0 padding: 20px;\
\'a0 max-width: 600px;\
\'a0 margin: auto;\
\}\
label \{\
\'a0 display: block;\
\'a0 margin: 10px 0;\
\}\
select, input[type="text"], button \{\
\'a0 width: 100%;\
\'a0 padding: 8px;\
\'a0 box-sizing: border-box;\
\'a0 margin-top: 5px;\
\}\
button \{\
\'a0 margin-top: 15px;\
\}\
#resultadoSF, #resultadoFinal \{\
\'a0 margin: 15px 0;\
\'a0 font-weight: bold;\
\'a0 white-space: pre-line;\
\}\
}